mimicel.csv
*.png
*.xes
mimicel_train.csv
mimicel_val.csv
mimicel_test.csv
02_Data_EDA/results/*
07_PALSYN/07_01_Encoding/results/*
07_PALSYN/07_02_PALSYN/example_logs/
07_PALSYN/07_02_PALSYN/PALSYN/
07_PALSYN/07_02_PALSYN/tutorial/lstm_model/
*_synthetic_*.csv
palsyn*.xlsx
data.zip
data/
*.venv
*.docx
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.vscode/
.venv/
.DS_Store
*.egg-info/
*.egg
build/
dist/